body {
    font-family: sans-serif;
    margin: 0px;
  }
  
  #header {
    color: rgb(56, 132, 194);
    font-size: 200%;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
  }

  #middle {
    width: 100%;
    border: 2px solid blue;
  }

  #mirror {
      border: 2px solid pink;
  }

  .svg{
    background-size: 2px 3px;
  }

  #footer {
    display: inline-block;
    width: 100%;
    color: green;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-bottom: 30px;
  }
  