body {
    font-family: sans-serif;
    margin: 0px;
  }

  #mid{
  	height: 800px;
  	background-image: url("../images/bedroom.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #header {
    color: rgb(56, 132, 194);
    font-size: 200%;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
  }

  .col{
    float:left;
    width:33%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
  }

  #monitor{
    float: left;
    width:100px;
    display: none;
    margin-top: 50px;
    padding: 5px;
    background-color: rgba(156, 131, 185, 0.75);
    border-radius: 10px;
  }

  #middle {
    width: 100%;
  }

  #mirror {
      border: 1px solid rgb(89, 109, 165, 0.01);
      height: 750px;
  }

  #stat1{
    transition: width 0.3s ease-in-out;
    -webkit-transition:width 0.3s ease-in-out;
    background-color: rgba(156, 131, 185, 0.75);
    border-radius: 10px;
    height: 100px;
    width: 75px;
    float: right;
    margin: 10px;
    position: relative;
    z-index: 2;
  }
  #stat1:hover{
    width: 400px;
    z-index: 2;
    position: relative;
  }

  #words{
    float: right;
    position: relative;
    width: 70%;
  }

  .svg{
    z-index: 0;
    position: absolute;
    left: 600px;
    padding-top: 70px;
    height: 85%;
    width: auto;
    display: block;
    margin: auto;
    float: right;
  }

  #footer {
    display: inline-block;
    width: 100%;
    color: green;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-bottom: 30px;
  }
  
